*{margin: 0px; 
padding: 0px;}
header {background-color:rgb(128, 128, 128);     display: flex; 
        justify-content: space-between;
        align-items: center;
    height: 70px; }
    

    
div ul li { 
    display: inline-block;
margin: 0 6px;}





main{background:linear-gradient(rgb(0, 204, 255),rgb(0, 113, 128));
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}

img{border-radius: 50% 50% ;
    height: 100px;
    width: 100px;}
      
p{text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 31%;
}


