*{margin: 0px; 
padding: 0px;}
header {background-color:rgb(128, 128, 128);  
        display: flex; 
        justify-content: space-between;
        align-items: center;
        height: 70px; }
    

    
div ul li{ display: inline-block;
    margin: 20px;
   
   }
   
   .title{ display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
}

    
main{background:linear-gradient(rgb(0, 204, 255),rgb(0, 113, 128));
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 18px;
height: 100vh;
line-height: 30px;

}

img{border-radius: 50% 50% ;
    height: 100px;
    width: 100px;
    
    
}
      
p{text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    

}
pre{color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
text-transform: capitalize;
}
button{ background-color: hotpink;
    border: none;
    color: aliceblue;
    width: 81px;
    height: 30px;

}
a{text-decoration: none;
    color: aliceblue;

}
h2{ color: aliceblue;}


